<div class="col-md-12">
  <sound-manager></sound-manager>
  <div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Find song
      </h3>

    </div>
    <div class="panel-body">
      <div class="input-group">
        <input class="form-control " ng-model="song_name" placeholder="Song name" type="text">
        <span class="input-group-btn">
          <button class="btn btn-primary" ng-click="findSong()" type="submit">Submit</button>
          <button class="btn btn-primary" ng-click="loadTracks()" type="submit">Reset</button>
        </span>
      </div>
    </div>
  </div>
  <p>
    Currently Playing:
    {{ currentPlaying.title }}
    by
    {{ currentPlaying.artist }}
    ({{ currentPostion }}
    /
    {{ currentDuration }})
  </p>

  <div class="seekBase" seek-track>
    <div class="seekLoad" ng-style="{width : ( progress + '%' ) }"></div>
  </div>
  <br/>
  <button play-music>Play</button>
  -
  <button pause-music>Pause</button>
  -
  <button stop-music>Stop</button>
  -
  <button repeat-music>Repeat ({{ repeat }})</button>
  -
  <button data-pause="Pause!" data-play="Play!" play-pause-toggle>Play Toggle</button>

  Is Playing:
  {{ isPlaying }}
  <br/>
  <br/>Volume:
  {{ volume }}
  -
  <button data-type="increase" music-volume>+</button>
  -
  <button data-type="decrease" music-volume>-</button>
  -
  <button mute-music>Mute ({{ mute }})</button>
  <br/>
  <br/>
  <button prev-track>Prev Track</button>
  -
  <button next-track>Next Track</button>
  -
  <button clear-playlist>Clear Playlist</button>
  <button play-all='tracks' data-play="false">Add all tracks</button>
  <div class="list-group">
    <div class="list-group-item" ng-repeat="track in playlist" >
      <div class="row-action-primary">
        <i class="fa pull-left fa-play-circle fa-3x" play-from-playlist="track"  ng-if="(!isPlaying && currentPlaying.id == track.id) || currentPlaying.id !== track.id" ></i>
       <i class="fa pull-left fa-3x fa-pause-circle" pause-music ng-show="currentPlaying.id == track.id" ng-if="isPlaying"></i>

      </div>
      <div class="row-content">
        <!-- <div class="least-content">{{audio.duration}}</div> -->
        <h4 class="list-group-item-heading">{{track.artist}}</h4>
        <p class="list-group-item-text">{{track.title}}</p>
      </div>
    </div>

  </div>
</div>
